
body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  background-color: #000; /* Retain background */
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  background: #111;
  padding: 2em;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 3px;
}

button {
  background-color: #ffa500;
  color: #000;
  cursor: pointer;
}
